@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-da-caixa: #3A375E;
    --cor-contorno: #FF0000;
    --cor-da-fonte: #ffffff;
    --cor-linha-abaixo-dos-botoes: #8E1EFF;
    --cor-video: #6FFF57;
    --background-image: url(synthwave-8119826_1280.webp);
        background-repeat:no-repeat;
        max-width: 1280px;
        width: auto;
}

body{
    background-image: var(--background-image);
    color: var(--cor-da-fonte);
    font-family: "Chakra Petch", sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 44px;
}

.botoes{
    font-size: 30px;
 
}
